@import 'style/breakpoints.scss';
@import 'style/config.scss';

.item {
    margin-bottom: 15px;

    .upper-row {
        position: relative;
        overflow: hidden;
        margin-bottom: 2px;

        @media (max-width: $large) {
            margin-bottom: 0;
        }
    }
    
    .job-title {
        color: $color-shade-4;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    
    .time {
        position: absolute;
        right: 0;
        top: 0;
        color: $color-shade-2;

        @media (max-width: $large) {
            position: static;
            display: block;
            margin-top: 5px;
        }
    }
    
    .company {
        margin-bottom: 10px;
        color: $color-shade-2;

        a {
            color: $color-shade-2;
        }
    }
}


