@import 'style/config.scss';

.education-container {
    position: relative;
    
    .university {
        color: $color-shade-1;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 16px;
    }
    .graduationTime {
        color: $color-shade-1;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .degree {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    @media print {
        .university, .graduationTime {
            color: $color-shade-3;
        }
    }
}