@import 'style/config.scss';
@import 'style/breakpoints.scss';

.project {
  margin-bottom: 10px;

  .title {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0;
    color: $color-shade-3;
  }
  .details {
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .details span.fa.fa-check-square-o {
    font-size: 10px;
    margin-right: 3px
  }
}