@import 'style/breakpoints.scss';
@import 'style/config.scss';

.main-container {
    display: flex;
    flex-wrap: wrap;
    background: $color-theme-2;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px $black;
    -moz-box-shadow: 0px 2px 4px $black;
    box-shadow: 0px 2px 4px $black;

    @media(min-width: $large) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.side-container, .footer-container {
    flex: 1;
    background: $color-theme-2;
    color: $white;
    min-width: 288px;
    padding-bottom: 15px;

    a {
        color: $white;
    }

    @media print {
        color: $color-shade-4;

        a {
            color: $color-shade-4;
        }
    }
}

.content-container {
    flex: 6;
    background: $white;
    padding: 60px;
    min-width: 289px;

    @media (max-width: $large) {
        padding: 30px;
    }
}