@import 'style/breakpoints.scss';
@import 'style/config.scss';

.wrapper {
    background: $color-theme-2;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar-wrapper {
    background: $color-theme-2;
    position: absolute;
    left: 0;
    width: 240px;
    height: 100%;
    min-height: 800px;
    color: $white;

    @media (max-width: $large) {
        position: static;
        width: inherit;
    }

    a {
        color: $white;
    }
}

.main-wrapper {
    background: $white;
    padding: 60px;
    padding-left: 300px;

    @media (max-width: $large) {
        padding: 30px;
    }
}