@import 'style/config.scss';

.references {
    .name {
        color: $white;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .company {
        color: $color-shade-1;
        margin-bottom: 0px;
        font-size: 16px;
    }
    .role {
        color: $color-shade-1;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 16px;
    }

    @media print {
        .name {
            color: $color-shade-2;
        }

        .company, .role {
            color: $color-shade-3;
        }
    }
}