@import 'style/breakpoints.scss';
@import 'style/config.scss';

.skillset {
    .item {
        margin-bottom: 15px;
    }

    .level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    
    .level-bar {
        position: relative;
    }
    
    .level-bar-inner {
        border-bottom: 12px solid $color-theme-1;
        position: absolute;
        width: 0;

        @media print {
            border-bottom: 12px solid $color-shade-3;
        }
    }
    .level-bar-inner-background {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 12px solid $color-shade-1;
    }

    .animate {
        transition: width 1s ease-in-out;
    }

    .level-bar-fields {
        width: 100%;
        background: transparent;
        display: flex;

        .level-bar-field {
            z-index: 10;
            flex: 1;
            height: 12px;
            border-right: 1px solid$color-shade-1;
        }

        .level-bar-field:last-child {
            flex: 1;
            border-right: none;
        }
    }
    
    @media (min-width: $large) {
        .item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10pxp
        }

        .level-title {
            margin-bottom: 0;
        }

        .level-bar {
            width: 70%;
            
            .level-bar-fields {
                position: absolute;
                margin-top: 0;
            }
        }
    }
}