.contact {
    padding-top: 30px;
    // padding-bottom: 30px;

    .fa {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
    }

    .email {
        font-size: 12px;
    }
}