$color-theme-1: #7bc2d3;
$color-theme-2: #42A8C0;
$color-theme-3: #2d7788;
$color-theme-4: #1a454f;

$white: #fff;
$color-shade-1: #f5f5f5;
$color-shade-2: #97AAC3;
$color-shade-3: #545E6C;
$color-shade-4: #3F4650;
$black: #000;