.section {
    margin-bottom: 40px;
  
    .section-title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      color: #2d7788;
      position: relative;
      margin-top: 0;
      margin-bottom: 20px;
  
      .fa {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: inline-block;
        color: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #2d7788;
        text-align: center;
        padding-top: 8px;
        font-size: 16px;
        position: relative;
        top: -2px;
      }
    }
  }