@import './plugins/font-awesome/scss/font-awesome.css';
@import './plugins/bootstrap/scss/bootstrap.css';
@import 'style/config.scss';
/* styles.css */
/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif;
  color: $color-shade-3;
  background: $color-shade-1;
  font-size: 14px;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: $color-theme-3;
  transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: $color-theme-4;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}
.footer {
  padding: 30px;
  padding-top: 60px;
}
.footer .copyright {
  line-height: 1.6;
  color: $color-shade-3;
  font-size: 13px;
}